@import 'themes/_meadow.scss';

.submit-btn {
  background: $light-green;
  color: $white;
}
.submit-btn:hover {
  background: $success;
}

.create-acct-btn {
  background: $light-blue;
  color: $white;
}
.create-acct-btn:hover {
  background: $blue;
}
.guest-login-btn {
  background: transparent;
  border: 1px solid $gray;
}
.cancel-btn {
  background: $error;
  color: $white;
}
.cancel-btn:hover {
  background: $red;
}

.start-work-btn {
  background: $light-blue;
  color: $white;
}

.start-work-btn:hover {
  background: $blue;
}

.view-more-btn {
  background: $light-green;
  color: $white;
  width: 10rem;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
}

.view-more-btn:hover {
  background: $green;
}

.back-btn {
  background: $pink;
  color: $white;
}

.edit-btn {
  background: $light-blue;
  color: $white;
}

.complete-btn {
  background: $light-green;
  color: $white;
}

.delete-btn {
  background: $pink;
  color: $white;
}

.add-item-btn {
  background: $white;
  color: $light-green;
  border-radius: 1rem 2rem 0 0;
}

.incomplete-btn {
  background: $orange;
  color:$white;
}

.drink-water-btn {
  color: $white;
  background: $light-blue;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  transition: background 1s linear;
}
.drink-water-btn.flash {
  background: $dark-blue;
}