@import 'themes/_meadow.scss';

.Tasks_wrapper {
  margin: 1rem 0;
  background: $light-gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}
.Tasks-header {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $white;
  background: $light-green;
  text-align: center;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}
.Tasks-header h2 {
  margin-left: 1rem;
}
.add-item-btn {
  margin-left: auto;
  margin-right: 1rem;
}
.Tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.Task-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.25);
  margin: 0.5rem;
  cursor: pointer;
  &.past-due {
    background: $pink;
    color: $white;
    .Task-summary p {
      color: $white;
    }
    .Task-summary h3 {
      background: $dark-gray;
      color: $white;
    }
  }
}

.Task-summary h3 {
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
  background: $light-blue;
  color: $black;
  border-radius: 1rem 1rem 0 0;
}
.Task-summary p {
  color: $dark-gray;
  padding: 0.5rem 1rem;
}
.Task-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.25rem;
  padding: 0;
  p {
    padding: 1.5rem 1rem;
  }
}
.Task-details {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
p.Task-due {
  margin-left: auto;
  background: $light-green;
  color: $white;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 1rem 0 1rem 0;
  margin-left: auto;
  width: 10rem;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &.past-due {
    background: $white;
    color: $error;
  }
}
p.Task-project {
  margin-right: auto;
  background: $brown;
  color: $white;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0 1rem 0 1rem;
  font-size: 0.75rem;
  text-align: center;
}
.Tasks-view-all-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}