.form-checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.form-checkbox-wrapper input {
  margin-right: 0.5rem;
}
.form-checkbox-wrapper select {
  flex-grow: 1;
  margin-left: 1rem;
}
