@import 'themes/_meadow.scss';

/* HEADER ELEMENTS */
.Header h1 {
  font-size: 1.75rem;
}
.Header img {
  height: 2rem;
}
.launch .Header h1 {
  font-size: 2.5rem;
}
.launch .Header img {
  height: 4rem;
}