@import 'themes/_meadow.scss';

.Menu_wrapper {
  overflow: hidden;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $brown;
  height: 100%;
  text-align: left;
  padding: 20vh 2rem;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  overflow-y: scroll;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }

  a {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: $white;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover,
    &.active {
      color: $light-green;
      transform: scale(1.05);
    }
  }

  span {
    padding: 0 1rem;
  }

  hr {
    width: 100%;
    border: 1px solid rgba(255,255,255,0.2);
  }
}